.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-family: 'Changa', sans-serif;
    font-size: 30px;
    width: 352px;
    height: 58px;
    border: 3px solid rgb(48, 144, 169);
    border-radius: 17px;
}
button{
    font-size: 30px;
    background: rgb(74, 211, 239);
    width: 88px;
    height: 85px;
    border-radius: 35px;
    border: 1px solid rgb(0, 13, 128);
    font-family: 'Changa', sans-serif;

}
button:hover{
    background: rgb(19, 31, 121);
    color: aquamarine;
    
}
.calculator{

    background-color: rgb(16, 8, 69);
    padding: 23px;
    border-radius: 27px;
    display: inline-block;
}
h1{
    font-family: 'Macondo', cursive;
    font-size: 52px;
    margin-bottom: 24px;

}
body{
    /* background-color: #92ccff; */
    background: linear-gradient(to left, #0c2899,#6ee6eb);
}
